.sizeToolBar {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  position: relative;
  z-index: 10;
  border-right: 1px solid rgba(0, 0, 0, 0.644);
  margin-right: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.sizeBtn {
  border-radius: 3px;
  border: 1px solid black;
  margin: 15px 10px 3px 10px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}
.sizesBar {
  top: 90px;
  position: absolute;
  border: 1px solid black;
  background-color: rgb(246, 246, 246);
  padding: 5px;
}
.sizes {
  border-radius: 3px;

  border-bottom: 1px solid rgb(39, 39, 39);
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.sizes p {
  font-size: 0.7rem;
  margin-left: 5px;
}
